<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
   <style type="text/css" media="all">
      td {
        color: black;
      }
      span.biggish {
        text-align: left;
        font-size: 130%;
        padding-bottom: -12px;
      }

      h1 {
        margin-left: -50px;
      }
      h2, h3, h4, .collapse-all{
        cursor: pointer;
      }
      h2:hover, h3:hover, h4:hover, .collapse-all:hover {
        background-color: yellow;
      }
      h2 {
        margin-left: -50px;
        text-decoration: underline;
      }
      h3 {
        margin-left: -25px;
      }
      table {
        width: 100%;
      }
      tr {
        font-size: 70%;
        height: 10px;
      }
      tr.odd {
        background-color: #C0C0C0;
      }
      .page-break { display:block; clear:both; page-break-after:always; }
      .cell-one {
        /*width: 22%;*/
        font-family: 'Arial';
        font-size: 15px;
      }
      .cell-two {
        /*width: 50%;*/
        font-family: 'Arial';
        font-size: 15px;
      }
      .cell-four {
        /*width: 13%;*/
        text-align: center;
        font-family: 'Arial';
        font-size: 15px;
      }
      .cell-five {
        /*width: 13%;*/
        text-align: center;
        font-family: 'Arial';
        font-size: 15px;
      }
      h3 {
        margin-bottom: 2px;
      }
      th {
        text-align: left;
      }
      .header#right {
        margin-right: 0px;
        display:block;
      }
      tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
      }
      .button-small {
        font-size: .8rem;
        height: 2.8rem;
        line-height: 2.8rem;
        padding: 0 1.5rem;
      }
      /* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
    </style>
    <%= stylesheet_link_tag :products, "https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.css" %>
    <%= stylesheet_link_tag :products, "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" %>


    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="loading">Loading&#8230;</div>
    <header onload='number_pages'>
    </header>
    <main role="main">
      <div class="container" style="margin-top:20px;">
        <div class="row">
          <div class="column">
              <%= link_to raw("
      <i class=\"fa fa-trash-o fa-lg\"></i> Sign Out"), destroy_user_session_path, :class => "button my-delete pull-right",  method: :delete %>
            </div>
        </div>
        <div class="row">
          <div class="column">
            <h1 class="my-generated">
              <%= link_to raw("
                <i class=\"fa fa-plus-square-o\"></i> New Product"), new_product_path(Product.new), :class => "pull-left" %>
              <%= link_to raw("
    <i class=\"fa fa-cloud-download\"></i> Generate PDF Catalog"), products_path(:format => :pdf), :class => "pull-right to-generate-this" %></h1>
            </div>
        </div>
        <div class="row">
          <div class="column">
            <br>
              <%= link_to raw("
                <i class=\"fa fa-pencil-square\"></i> Edit Category Names"), categories_path, :style => "font-size: 270%; margin-left: -50px;", :class => "pull-left" %>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <br><br>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <% @big_categories.each do |category| %>
              <h2 class="section"><%= category %> </h2>
              <% @categories = Category.where("parent_key = ?", category) %>
              <% @categories.each do |sub_cat| %>
                <% if sub_cat.has_products? == false %>
                  <% next %>
                <% end %>
                  <% @category = sub_cat.name %>
                    <h3 class="section"><%= @category %></h3>
                    <% if sub_cat.products.length == 0 %>
                      <% @subbish_categories = sub_cat.children_categories %>
                      <% @subbish_categories.each do |subbish_cat| %>
                        <% if subbish_cat.has_products? == false %>
                          <% next %>
                        <% end %>
                        <h4 class="section"><%= subbish_cat.name %></h4>
                         <table style="border-top:1px solid black; padding-top:-10px;">
                          <tbody>
                            <% if subbish_cat.just_straight_up_products %>
                              <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <!-- <th>Manufacturer</th> -->
                                <th>Wholesale Price</th>
                                <th>MSRP</th>
                                <th>Edit</th>
                                <th>Delete</th>
                              </tr>
                            <% end %>
                            <% counterer = 2 %>
                            <% subbish_cat.products.each do |product| %>
                              <% if product.name.blank? %>
                                <% next %>
                              <% else %>
                                <% if counterer % 2 != 0 %>
                                  <tr>
                                <% else %>
                                  <tr class="odd">
                                <% end %>
                                  <% counterer += 1 %>
                                  <td class="cell-one"><div><%= link_to product.product_id, product_path(product.id) %></div></td>
                                  <td class="cell-two"><div><strong><%= product.name %></strong></div></td>

                                  <td class="cell-four"><div><%= number_to_currency(product.wholesale_price) %></div></td>
                                  <td class="cell-five"><div><%= number_to_currency(product.price) %></div></td>
                                  <td class="cell-six"><div><%= link_to raw("<i class=\"fa fa-cog\"></i> Edit"), edit_product_path(product.id), :class => "button my-edit button-outline" %></div></td>
                                <td class="cell-seven"><%= link_to raw("
      <i class=\"fa fa-trash-o fa-lg\"></i> Delete"), product, :class => "button my-delete",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      <!-- beginning -->
                       <% @new_subbish_categories = Category.where("parent_key = ?", subbish_cat.category_key) %>
                        <% if @new_subbish_categories.length == 0 %>
                        <% else %>
                          <% @new_subbish_categories.each do |new_subbish_cat| %>
                            <% if new_subbish_cat.has_products? == false %>
                              <% next %>
                            <% end %>
                            <!-- isolation -->
                            <h5 class="section"><%= new_subbish_cat.name %></h5>
                             <table style="border-top:1px solid black; padding-top:-10px;">
                              <tbody>
                                <% if new_subbish_cat.just_straight_up_products %>
                                  <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <!-- <th>Manufacturer</th> -->
                                    <th>Wholesale Price</th>
                                    <th>MSRP</th>
                                    <th>Edit</th>
                                    <th>Destroy</th>
                                  </tr>
                                <% end %>
                                <% counterer = 2 %>
                                <% new_subbish_cat.products.each do |product| %>
                                  <% if product.name.blank? %>
                                    <% next %>
                                  <% else %>
                                    <% if counterer % 2 != 0 %>
                                      <tr>
                                    <% else %>
                                      <tr class="odd">
                                    <% end %>
                                      <% counterer += 1 %>
                                      <td class="cell-one"><div><%= link_to product.product_id, product_path(product.id) %></div></td>
                                      <td class="cell-two"><div><strong><%= product.name %></strong></div></td>

                                      <td class="cell-four"><div><%= number_to_currency(product.wholesale_price) %></div></td>
                                      <td class="cell-five"><div><%= number_to_currency(product.price) %></div></td>
                                      <td class="cell-six"><div><%= link_to raw("<i class=\"fa fa-cog\"></i> Edit"), edit_product_path(product.id), :class => "button my-edit button-outline" %></div></td>
                                <td class="cell-seven"><%= link_to raw("
      <i class=\"fa fa-trash-o fa-lg\"></i> Delete"), product, :class => "button my-delete",  method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
                                  <% end %>
                                <% end %>
                              </tbody>
                            </table>
                            <!-- final beginning -->
                              <% @new_new_subbish_categories = Category.where("parent_key = ?", new_subbish_cat.category_key) %>
                              <% if @new_new_subbish_categories.length == 0 %>
                              <% else %>
                                <% @new_new_subbish_categories.each do |new_new_subbish_cat| %>
                                  <% if new_new_subbish_cat.has_products? == false %>
                                    <% next %>
                                  <% end %>
                                  <h5 class="section"><%= new_new_subbish_cat.name %></h5>
                                   <table style="border-top:1px solid black; padding-top:-10px;">
                                    <tbody>
                                      <% if new_new_subbish_cat.just_straight_up_products %>
                                        <tr>
                                          <th>ID</th>
                                          <th>Name</th>
                                          <!-- <th>Manufacturer</th> -->
                                          <th>Wholesale Price</th>
                                          <th>MSRP</th>
                                          <th>Edit</th>
                                          <th>Destroy</th>
                                        </tr>
                                      <% end %>
                                      <% counterer = 2 %>
                                      <% new_new_subbish_cat.products.each do |product| %>
                                        <% if product.name.blank? %>
                                          <% next %>
                                        <% else %>
                                          <% if counterer % 2 != 0 %>
                                            <tr>
                                          <% else %>
                                            <tr class="odd">
                                          <% end %>
                                            <% counterer += 1 %>
                                            <td class="cell-one"><div><%= link_to product.product_id, product_path(product.id) %></div></td>
                                            <td class="cell-two"><div><strong><%= product.name %></strong></div></td>

                                            <td class="cell-four"><div><%= number_to_currency(product.wholesale_price) %></div></td>
                                            <td class="cell-five"><div><%= number_to_currency(product.price) %></div></td>
                                            <td class="cell-six"><div><%= link_to raw("<i class=\"fa fa-cog\"></i> Edit"), edit_product_path(product.id), :class => "button my-edit button-outline" %></div></td>
                                <td class="cell-seven"><%= link_to raw("
      <i class=\"fa fa-trash-o fa-lg\"></i> Delete"), product, :class => "button my-delete",  method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
                                        <% end %>
                                      <% end %>
                                    </tbody>
                                  </table>
                                <% end %>
                                <% end %>
                            <!-- final end -->
                          <% end %>
                          <% end %>
                        <!-- end -->
                      <% end %>
                    <% else %>
                      <table style="border-top:1px solid black; padding-top:-10px;">
                        <tbody>
                          <% if sub_cat.just_straight_up_products %>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <!-- <th>Manufacturer</th> -->
                              <th>Wholesale Price</th>
                              <th>MSRP</th>
                              <th>Edit</th>
                              <th>Destroy</th>
                            </tr>
                          <% end %>
                          <% counterer = 2 %>
                          <% sub_cat.products.each do |product| %>
                            <% if product.name.blank? %>
                              <% next %>
                            <% else %>
                              <% if counterer % 2 != 0 %>
                                <tr>
                              <% else %>
                                <tr class="odd">
                              <% end %>
                                <% counterer += 1 %>
                                <td class="cell-one"><div><%= link_to product.product_id, product_path(product.id) %></div></td>
                                <td class="cell-two"><div><strong><%= product.name %></strong></div></td>

                                <td class="cell-four"><div><%= number_to_currency(product.wholesale_price) %></div></td>
                                <td class="cell-five"><div><%= number_to_currency(product.price) %></div></td>
                                <td class="cell-six"><div><%= link_to raw("<i class=\"fa fa-cog\"></i> Edit"), edit_product_path(product.id), :class => "button my-edit button-outline" %></div></td>
                                <td class="cell-seven"><%= link_to raw("
      <i class=\"fa fa-trash-o fa-lg\"></i> Delete"), product, :class => "button my-delete",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                      </table>
                      <% @subbish_categories = Category.where("parent_key = ?", sub_cat.category_key) %>
                      <% if @subbish_categories.length == 0 %>
                      <% else %>
                        <% @subbish_categories.each do |subbish_cat| %>
                          <% if subbish_cat.has_products? == false %>
                            <% next %>
                          <% end %>
                          <h4 class="section"><% subbish_cat.name %></h4>
                            <% if subbish_cat.just_straight_up_products %>
                             <table style="border-top:1px solid black; padding-top:-10px;">
                              <tbody>
                                <tr>
                                  <th>ID</th>
                                  <th>Name</th>
                                  <!-- <th>Manufacturer</th> -->
                                  <th>Wholesale Price</th>
                                  <th>MSRP</th>
                                  <th>Edit</th>
                                  <th>Destroy</th>
                                </tr>
                                <% counterer = 2 %>
                                <% subbish_cat.products.each do |product| %>
                                  <% if product.name.blank? %>
                                    <% next %>
                                  <% else %>
                                    <% if counterer % 2 != 0 %>
                                      <tr>
                                    <% else %>
                                      <tr class="odd">
                                    <% end %>
                                      <% counterer += 1 %>
                                      <td class="cell-one"><div><%= link_to product.product_id, product_path(product.id) %></div></td>
                                      <td class="cell-two"><div><strong><%= product.name %></strong></div></td>

                                      <td class="cell-four"><div><%= number_to_currency(product.wholesale_price) %></div></td>
                                      <td class="cell-five"><div><%= number_to_currency(product.price) %></div></td>
                                      <td class="cell-six"><div><%= link_to raw("<i class=\"fa fa-cog\"></i> Edit"), edit_product_path(product.id), :class => "button my-edit button-outline" %></div></td>
                                <td class="cell-seven"><%= link_to raw("
      <i class=\"fa fa-trash-o fa-lg\"></i> Delete"), product, :class => "button my-delete",  method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>
                                  <% end %>
                                <% end %>
                              </tbody>
                            </table>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
          </div>
        </div>
      </div>
    </main>
    <script>
    </script>
  </body>
</html>
